# Eksploracyjna analiza danych

## Przygotowanie danych do analizy

In [3]:
# Import pakietów
import data_describe as dd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [13]:
# Import danych
# Źródło danych: https://data.world/data-society/bank-marketing-data
df = pd.read_csv("bank-additional-full.csv", sep=";")

In [15]:
# Próbka danych
df.sample(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
34298,38,blue-collar,married,basic.4y,no,unknown,unknown,cellular,may,thu,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
21889,42,technician,married,professional.course,unknown,no,no,cellular,aug,wed,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
11728,25,blue-collar,single,high.school,unknown,no,no,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
19367,45,technician,married,professional.course,no,no,no,cellular,aug,wed,...,4,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
17582,49,management,married,university.degree,unknown,yes,no,telephone,jul,mon,...,12,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no